<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
	var socket = io.connect();

	//step 1 (when you connect to page)
	socket.on('connect', function() {
		console.log('connected');
		socket.emit('updateServer');
	});

	//step 3 (display new data)
	socket.on('updatePage', function(result) {
		console.log("updatingPage");
		var obj = result.results;

		$('#data_table').html('');

		for (var key in obj) {
			$('#data_table').append('<tr>');
			for (var property in obj[key]) {
			    if (obj[key].hasOwnProperty(property)) {
			    	//access stuff using obj[key])[property]
			        $('#data_table').append('<td>' + (obj[key])[property] + '</td>');
			    }
			}
			$('#data_table').append('</tr>');
		}
	});

</script>


<div id="data_table"></div>
